.card-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 50px 5%;
}

.card {
    height: 425px;
    min-width: 400px;
    max-width: 550px;
    font-size: 1rem;
    position: relative;
    outline: 4px solid var(--alt-color);
}

@media only screen and (max-width: 768px) {
    .card {
      min-width: 100%;
      height: 700px;
    }
}

.card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 15px; */
}

.card::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--card-color);
    mask-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0, 0, 0, 0.9));
    z-index: 0;
    /* border-radius: 15px; */
}

.card p {
    top: 10px;
    width: auto;
    margin: 25px 10%;
    position: absolute;
    z-index: 1;
    color: var(--card-text-color);
}

.card .link-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    bottom: 15px;
    width: 100%;
    height: 100px;
}

.card .link {
    position: relative;
    width: 60px;
    height: auto;
    padding: 20px 20px;
    filter: var(--img-color-filter);
}

.card .link:hover {
    transform:scale(1.1);
    transition: 200ms;
}
