.sidebar {
    background-color: var(--main-color);
    min-height: 150px;
    /* min-width: 250px; */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: var(--sidebar-width);
}

.sidebar .pfp {
    border-radius: 50%;
    margin: 25px 25px;
    min-width: 200px;
    width:10%;

}

.sidebar .nametag {
    width: auto;
    align-self: center;
    margin: 15px 15px;
    font-size: 2rem;
    color: var(--text-color);
    letter-spacing: 1.5px;
    text-align: center;
}

.sidebar .link-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: auto;
}

.sidebar .link {
    width: 60px;
    height: auto;
    margin: 15px 15px;
    filter: var(--img-color-filter);
}

.sidebar .link:hover {
    transform:scale(1.1);
    transition: 200ms;
}

.section-container {
    /* background-color: var(---color); */
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.section-link {
    box-sizing: border-box;
    font-size: 1.75rem;
    padding: 5px 15px;
    color: var(--link-color);
    background-color: var(--alt-color);
    text-decoration: none;
    text-align: right;
    width: var(--sidebar-width);
    position: relative;
    transition: width 200ms;
}

.section-link:hover {
    text-decoration: underline;
    width: calc(var(--sidebar-width) + 1rem);
}

.section-link:target {
    background-color: var(--main-color);
}