.sidebar {
    background-color: var(--main-color);
    min-height: 250px;
    /* min-width: 250px; */
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    top: 2%;
    bottom: 55%;
    max-height: 500px;
    margin-left: var(--sidebar-spacing);
    width: var(--sidebar-width);
}

.sidebar .pfp {
    border-radius: 50%;
    margin: 25px 25px;
    min-width: 200px;
    width:10%;

}

.sidebar .nametag {
    width: auto;
    align-self: center;
    margin: 15px 15px;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
}

.sidebar .link-container{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
}

.sidebar .link {
    width: 60px;
    height: auto;
    margin: 15px 15px;
    filter: var(--img-color-filter);
}

.sidebar .link:hover {
    transform:scale(1.1);
    transition: 200ms;
}

.sidebar::after {
    content: "";
    mask-image: url("../assets/tabImage.png");
    /* mask-position: 0; */
    mask-repeat: no-repeat;
    mask-position: top right;
    mask-size: cover;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 100%;
    bottom: -2.5rem;
    margin:auto;
    transform: scaleY(-1) scaleX(-1);
    background-color: var(--main-color);
}

@media only screen and (max-width: 768px) {
    .sidebar {
      /* display: block; */
      width: 100vw;
      height: var(--sidebar-height);
      bottom: 0;
      top: auto;
      right: 0;
      left: 0;
      position: absolute;
      margin: 0;
      min-height: 0;

    }

    .sidebar::after {
      /* display: none; */
      transform: scaleY(1) scaleX(-1);
      bottom:100%;
      top: -1.25rem;
    }

    .sidebar .link-container{
        display: flex;
    }
}