* {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

img {
    display: block;
    max-width: 100%;
}

:root {
    --main-color: #f2e9e6; 
    --alt-color: #d7cfcc;
    --body-color: #fff6f3;
    --text-color: #3b2923;
    --link-color: #4d332b;
    --card-color: #f2e9e6;
    --card-text-color: #3b2923;
    --img-color-filter: brightness(0) saturate(100%) invert(9%) sepia(8%) saturate(3956%) hue-rotate(329deg) brightness(92%) contrast(79%);

    --sidebar-width: calc(max(11vw, 250px));
    --sidebar-spacing: calc(2%);
}

body {
    background-color: var(--body-color);
    margin: auto;
}

.tab-content {
    position: absolute;
    margin-left: calc(var(--sidebar-width) + var(--sidebar-spacing) + var(--sidebar-spacing));
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    max-width: max-content;
    min-width: var(--sidebar-width);
    overflow-y: scroll;
    justify-self: center;
}

.tab-content p {
    font-size: 1.1rem;
    color: var(--text-color);
    width: 800px;
}

.tab-content hr {
    margin-block: 1.5rem;
    width: 50%;
    border: 2px solid var(--alt-color);    
}

#palette-selector {
    position: absolute;
    right: 10px;
    top: 10px;
}
