* {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

img {
    display: block;
    max-width: 100%;
}

:root {
    --main-color: #f2e9e6; 
    --alt-color: #d7cfcc;
    --body-color: #fff6f3;
    --text-color: #3b2923;
    --link-color: #4d332b;
    --card-color: #f2e9e6;
    --card-text-color: #3b2923;
    --img-color-filter: brightness(0) saturate(100%) invert(9%) sepia(8%) saturate(3956%) hue-rotate(329deg) brightness(92%) contrast(79%);

    --sidebar-width: calc(max(20vw, 250px));
}

body {
    background-color: var(--body-color);
}

.tab-folder > .tab-content:target ~ .tab-content:last-child, .tab-folder > .tab-content {
    display: none;
}
.tab-folder > :last-child, .tab-folder > .tab-content:target {
    display: block;
}

.tab-content {
    position: absolute;
    margin-left: var(--sidebar-width);
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    min-width: var(--sidebar-width);
    width: 800px;
    overflow: scroll;
    justify-self: center;
}

.tab-content p {
    font-size: 1.1rem;
    margin: 50px 2%;
    color: var(--text-color);
}

.tab-content hr {
    margin: 0% 15% 1% 15%;
    width: 50%;
    border: 2px solid var(--alt-color);
    border-radius: 10px;
}

#palette-selector {
    position: absolute;
    right: 10px;
    top: 10px;
}
